/* Estilo principal
    viewport width vw
    viewport height vh
*/

body{
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
}

/*Estilos del header*/

header {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
}

header div.primerBloque{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    line-height: 56px;    
    color: #333333;
    background:  #D1891C;
    height: 61px;
    padding-left: 20px;
}

header div.segundoBloque{
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height: 26px;    
    color: #FFFFFF;
    background: #00669F;
    height: 162px;
    padding-left: 20px;
}

/*Estilos del main*/

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 50px;
}

main section.heroes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

main section.heroes select.cuadros{
    display: flex;
}

main section.heroes select.harleyC{
    display: flex;
}

main section.heroes section div.batman, div.superman, div.wonder, div.harley {
    display: flex;    
    background: #C4C4C4;
    /*border-radius: 50px;    */
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    background-image: url("../img/fondo1.png");
    background-repeat: no-repeat;
    background-size: 300px 195px;
    width: 300px;
    height: 195px;

}

main section.heroes div.superman {
    background-image: url("../img/fondo3.png");
    background-repeat: no-repeat;
}

main section.heroes div.wonder {
    background-image: url("../img/fondo4.png");
    background-repeat: no-repeat;
}

main section.heroes div.harley {
    background-image: url("../img/fondo2.png");
    background-repeat: no-repeat;
}

main section.heroes section div.batmanText, div.supermanText, div.wonderText, div.harleyText {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    background: #F3F3F3;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    padding-top: 70px;
    width: 300px;
    height: 450px;
    top: -154px;
}

main section.heroes section div p.titulo {
    display:flex;
    align-items: center;    
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;

}

main section.heroes section div p.texto {
    display:flex;
    align-items: center;    
    font-size: 15px;
    line-height: 21px;
    text-align: justify;
    color: #333333;
}

main section.heroes section div button {
    display:flex;
    align-items: center;
    width: 80px;
    height: 42px;
    background: #00669F;
    border-radius: 7px;
    font-size: 15px;
    line-height: 21px;
    text-align: justify;
    color: #F3F3F3;
}

main section.heroes section img {
    position:relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    top: calc(50% - (75px / 2));
    top: -70px;
    left: calc(50% - (150px / 2));
}

main section.heroes section img.super {
    position:relative;
}

.heart {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 30px;
    color: red;
}

/*Estilos del footer*/
footer{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 162px;
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 30px;
    color: #FFF9F9;

}

footer p {
    flex-grow: 0.75;
    text-align: right;
}

footer img {
    width: 200px;
    height: 50px;
}


@media (max-width: 1250px) {
    /* Tablets */
    

}

@media (max-width: 730px){
    /* Celulares */
    main section.heroes {
        width: 90%;
        flex-direction: column;
    }

    main section.heroes section.harleyC {
        display: none;
    }

    main section.heroes section.cuadros {
        width: 90%;
    }

    main section.heroes section.cuadros div {
        width: 90%;
        background-repeat: no-repeat;
        background-size: auto;
    }
    main section.heroes section img {
        top: -70px;
        left: calc(45% - (150px / 2));
    }

    main section.heroes section img.super{
        content:url("../img/superman2.png");
    }

    footer {
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
    }

    footer p {
        flex-grow: 0;
        text-align: center;
    }
}